.login-register-page {
  /* background-color: #121212; */
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(212, 175, 55, 0.4);
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 20px rgba(212, 175, 55, 0.2);
  transition: all 0.3s ease-in-out;
}

.login-card:hover {
  box-shadow: 0 0 30px rgba(212, 175, 55, 0.35);
  transform: translateY(-3px);
}

.salene-logo {
  width: 60px;
  height: auto;
}

.gold-text {
  color: #d4af37;
}

.gold-border-btn {
  border: 1px solid #d4af37 !important;
  color: #fff !important;
  transition: background 0.3s;
}

.gold-border-btn:hover {
  background-color: #d4af37 !important;
  color: #121212 !important;
}

.toggle-link {
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s;
}

.toggle-link:hover {
  color: #fff;
}
